<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='predict.css') }}">
    <title>Prediction</title>
</head>
<body>
    <h1>Prediction Page</h1>
    <form action="{{ url_for('predict') }}" method="post">
        <label for="protein">Protein:</label>
        <input type="text" id="protein" name="protein" required><br>

        <label for="fat">Fat:</label>
        <input type="text" id="fat" name="fat" required><br>

        <label for="vitaminC">Vitamin C:</label>
        <input type="text" id="vitaminC" name="vitaminC" required><br>

        <label for="fibre">Fibre:</label>
        <input type="text" id="fibre" name="fibre" required><br>

        <input type="submit" value="Predict">
    </form>
   
</body>
</html>
