<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>smoke detection</title>
</head>
<body> 
    <div class="banner"></div>
      <div class="content1">
        <h1>SMOKE DETECTION</h1>
        <b>Welcome to our website where we use advanced technology to predict and detect smoke in homes and businesses.<br>
           Our state-of-the-art smoke detectors are designed to make your surroundings safer by quickly and <br> accurately alerting you to the presence of smoke, helping you stay protected.</b>
        <div>
           
            <button><a href="/predict">PREDICT</a></button>

        </div>
</body>
</html>